/* GENERAL */

section{
  width: fit-content;
  margin: auto;
}

.insec{
  display: flex;
  margin-top: 60px;
}

#sec1{
  margin-top: 150px;
  margin-left: 200px; 
}

#s1sq1l{
  width:630px;
  height: 4px;
  background-color: #2AD882;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 159px;
  border-radius: 5px;
}

#s1sq1{
  display: flex;
}

.simg{
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #2AD882;
  border-width: 10px;
  border-radius: 100%;
  object-fit: cover;
}

.s1sq2{
  border-style: solid;
  border-color: #2AD882;
  border-width: 4px;
  padding: 35px;
  display: flex;
  width: 500px;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.inline{
  display: flex;
}

.inline img{
  margin-top: auto;
  margin-bottom: auto;
}

a{
  color:white;
  text-decoration: none;
}

.uimg{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#container2{
  display:flex;
  width: 1500px;
  padding:0;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 130px;
}

.s1sq2sub1{
  margin-left: 30px;
  margin-top: 30px;
}

section h1{
  font-size: 52px;
  font-weight: bold;
}



/*------=MAIN=-----*/

.wishlist{
  background-color:#1F242B;
  color:white;
  font-size: 18px;
  font-family: 'Montserrat';
  border: #2AD882 2px solid;
  height: 40px;
  margin: auto;
  margin-left: 20px;
  text-align: center;
  padding:0 10px 0 10px;
  transition: all 0.3s;
}

.wishlist:hover{
  cursor: pointer;
  background-color: #2AD882;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  #sec1{
    margin-left: 0;
  }
  #container2{
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .s1sq2{
    width: 500px;
    margin-left: 0;
  }
  #s1sq1l{
    display:none;
  }
}